h1{
	position:absolute;
	top:0px;}

p{
	position:absolute;
	top:50px;
	font-family: verdana;
    	text-align:top;
	line-height:150%;}

img{
	margin-left:0px;
	width: 350px
	height:180px
	alt:"Chatbot's face"
}

background-color{
   	 color: white;}

button {
	background-color: #ffb6c1;
	width: 400px;
	height: 35px;}

table {
	margin-left:50px;
	width: 300px;
	border:0px;
	border-spacing: 10px;}

th, td {
  	width: 400px;
	height: 35px;
    	text-align:center;
	background-color:none;
	border-radius:7px;}

#table1{
	position:absolute;
	top: 120px;
	height: 100px;}

#table2{	
	position:absolute;
	top:220px;
	height: 50px;}


footer {
	position:absolute;
	bottom:0px;
	left:0px;
}


#button1{
	position:absolute;
	top:150px;
}


#button2{
	position:absolute;
	top:190px;
}


#button3{
	position:absolute;
	top:230px;
}