{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    {% load static %}
    <link rel="stylesheet" href={% static 'chatbot/index.css' %}>
    <script src={%static 'lo.js'%}></script>
</head>
<body>
  <h1>Arab Words</h1>
  
  <script>
      function hide(id) {
        var divelement = document.getElementById(id);

           divelement.style.display = 'block' ;
      }    
        function show(id) {
        var divelement = document.getElementById(id);

           divelement.style.display = 'none' ;
      }
    </script>  
  	
  <div id="sectiontoshow" style="display: none">arab</div>
  <button onclick="hide('sectiontoshow');">English show</button>
  <button onclick="show('sectiontoshow');">English hide</button>

  <button id="nextword">Next Word &gt;</button>

  <div id="firstDiv">la</div>

  <script>
  	document.getElementById("nextword").onclick = function() {document.getElementById("firstDiv").innerHTML = "lo" ;
    }	
  </script>
  
<footer>&#169 cool group 2019</footer>
</body>
</html>
